@import "../../style/main.scss";
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&display=swap");

.details {
  .container {
    display: flex;
    gap: 1rem;
    @media (max-width: $md) {
      & {
        flex-wrap: wrap;
        .top-ten {
          flex-basis: 100%;
        }
      }
    }
    > .content {
      flex: 1;
      .video {
        width: 100%;
        iframe {
          width: inherit;
          border-radius: 8px;
          min-height: 500px;
        }
      }
      .anime-details-control {
        display: flex;
        justify-content: flex-end;
        padding: 0.5rem 0 0;
        gap: 0.5rem;
        text-transform: capitalize;
        font-weight: 500;
        @media (max-width: $sm) {
          & {
            justify-content: center;
          }
        }
        .next-arrow,
        .prev-arrow {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.5rem;
          border-radius: 4px;
          color: white;
          background-color: #1f1f1f;
          gap: 0.25rem;
          cursor: pointer;
          font-size: 1.2rem;
          font-weight: 500;
          transition: $transition;
          &:hover {
            background-color: rgba($color: $blue, $alpha: 0.7);
          }
        }
        .next-arrow {
          svg {
            transform: translateY(1px);
          }
        }
        .prev-arrow {
          svg {
            transform: translateY(1.5px) rotate(-0.5turn);
          }
        }
      }
      .episodes {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
        gap: 0.5rem;
        padding: 0.5rem 0;
        font-family: "Orelega One", cursive;
        margin-bottom: 2rem;
        .episode {
          background-color: #1f1f1f;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.5rem 1.5rem;
          font-size: 1.1rem;
          cursor: pointer;
          transition: $transition;
          opacity: 0.8;
          border-radius: 4px;
          &.active {
            background-color: rgba($color: $blue, $alpha: 0.7);
            opacity: 1;
          }
          &:hover {
            background-color: rgba($color: $blue, $alpha: 0.7);
          }
        }
      }
      > .anime-details {
        display: flex;
        gap: 1rem;
        padding: 1rem;
        background-color: $light-dark;
        border-radius: 8px;
        margin-bottom: 2rem;
        @media (max-width: $md) {
          & {
            flex-direction: column;
            align-items: center;
          }
        }
        // .img {
        //   img {
        //   }
        // }
        .anime-details-content {
          .anime-title {
            margin-bottom: 1rem;
          }
          .anime-description {
            font-size: 0.8rem;
            color: $gray;
            line-height: 1.5;
            margin-bottom: 1rem;
          }
          .anime-details {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(4, auto);
            gap: 1rem 3rem;
            font-size: 0.8rem;
            color: $gray;
            text-transform: capitalize;
            width: fit-content;
            span {
              .type {
                color: $blue;
                margin-left: 2px;
              }
              .studios {
                color: $blue;
                margin-left: 2px;
              }
              .genre {
                color: $blue;
                margin-left: 2px;
              }
            }
          }
        }
      }
    }
  }
}
