@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Orelega One", cursive;
  font-family: "Roboto", sans-serif;
}

.main-heading {
  @include respond(sm) {
    text-align: center;
  }
}
