.navbar {
  background-color: transparent;
  box-shadow: 0 0.2rem 2rem rgba($blue, 0.2);

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    &.active {
      background: transparent;
      width: 100%;
      height: 100%;
      z-index: 500;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    position: relative;
  }

  &__logo {
    font-size: 2.8rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    color: transparent;
    background-image: linear-gradient(to right, $gray, $blue, $gray, $blue);
    -webkit-background-clip: text;
    background-clip: text;

    @include respond(sm) {
      font-size: 2.2rem;
    }
  }

  &__list {
    @include flexCenterItems;
    gap: 2rem;
    height: 8rem;
    transform: translateY(1px);
    @include respond(sm) {
      transform: translateY(0);
      gap: 6rem;
      position: absolute;
      z-index: 1000;
      top: calc(100% + 5px);
      width: 100%;
      background: $light-dark;
      left: 0;
      flex-direction: column;
      height: fit-content;
      padding: 5rem 0;
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s ease;
      &.active {
        top: 100%;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__link {
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1.5px;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 0.5rem 1.5rem;
    border-radius: 3px;
    color: $white;
    border: 1px solid transparent;
    transition: all 0.5s ease;

    @include respond(sm) {
      padding: 1.5rem 2.5rem;
    }
    &:hover {
      border: 1px solid rgba($blue, 0.5);
      color: rgba($white, 0.9);
    }
    &.active {
      border: 1px solid $blue;
      box-shadow: 0 0.2rem 2rem rgba($blue, 0.2);
    }
  }

  &__user {
    @include flexCenterItems;
    gap: 4rem;
    font-size: 2.5rem;

    @include respond(sm) {
      font-size: 2rem;
      gap: 2rem;
    }
  }

  &__toggle {
    position: relative;
    height: 14px;
    width: 30px;
    cursor: pointer;
    display: none;

    @include respond(sm) {
      display: block;
      z-index: 1000;
    }
    span {
      position: absolute;
      left: 0;
      background-color: white;
      height: 2px;
      width: 100%;
      transition: all 0.5s ease;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 6px;
      }
      &:nth-child(3) {
        top: 12px;
      }
    }

    &:hover span {
      opacity: 0.8;
    }

    &.active:hover span {
      opacity: unset;
    }

    &.active span:nth-child(2) {
      width: 0;
    }

    &.active span:nth-child(1),
    &.active span:nth-child(3) {
      top: 6px;
      background-color: $red;
    }

    &.active span:nth-child(1) {
      transform: rotate(135deg);
    }

    &.active span:nth-child(3) {
      transform: rotate(-135deg);
    }
  }
}
